@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-indigo-500 dark:text-indigo-300 hover:text-indigo-600;
}

p {
  @apply mb-4 text-slate-500 dark:text-slate-500;
}

h1 {
  @apply text-6xl font-bold text-indigo-400;
}

h2 {
  @apply text-4xl font-bold text-slate-900 dark:text-slate-500 mb-4;
}

h3 {
  @apply text-3xl font-bold text-slate-500 dark:text-slate-700;
}

h4 {
  @apply text-xl font-bold text-slate-900;
}

h5{
  @apply text-lg font-bold text-slate-900 dark:text-slate-500 mb-1;
}

h6 {
  @apply text-base font-bold text-indigo-500 dark:text-slate-300;
}

section {
  @apply p-4;
}